<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center" style="position: relative; min-height: 60px;">
          
          <!-- Logo à gauche -->
          <div class="site-logo">
            <a routerLink="/index">JobBoard</a>
          </div>
          <!-- Navigation centrée -->
          <nav class="site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block">
              <!-- ... vos éléments de menu ... -->
            </ul>
          </nav>
          
          <!-- Boutons à droite -->
          <div class="right-cta-menu">
            <div class="ml-auto">
              <a routerLink="/post-job" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block">
                <span class="mr-2 icon-add"></span>Post a Job
              </a>
              <a routerLink="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block">
                <span class="mr-2 icon-lock_outline"></span>Log In
              </a>
            </div>
            <a routerLink="/#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">
              <span class="icon-menu h3 m-0 p-0 mt-2"></span>
            </a>
          </div>
          
        </div>
      </div>
    </header>
    